.stats-table {
    margin-top: 5rem;

    h5 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .tablecontainer {
        overflow-x: scroll;
        padding-bottom: 2rem;
    }

    .nav-tabs {
        a {
            font-size: 1.6rem !important;
        }
        #profile-tab {
            color: 444 !important;
        }
    }

    tr,td {
        font-size: 1.6rem !important;

        @media only screen and (max-width: 600px) {
            font-size: 1.3rem !important;
        }
    }

    .dataTables_info {
        font-size: 1.4rem;
    }
    .paginate_button {
        font-size: 1.4rem;
    }
    label {
        font-size: 1.5rem;
    }
    input {
        border: solid 1px rgb(226, 224, 224);
        height: 3rem;
        font-size: 1.3rem;
    }
}