@import '../../styles/utils.scss';

h1 {
    @media only screen and (min-width: 600px) {
        font-size: 2.5rem;
    }
}

.stats {
    .statwrapper {
        @media only screen and (max-width: 600px) {
            display: flex !important;
            justify-content: space-around !important;
            flex-direction: row !important;
        }
        .wrappe {
            @media only screen and (max-width: 600px) {
                width: 48% !important;
                padding: 0;
            }
        }
        .stat {
            background-color: white;
            padding: 3rem 2rem;
            border: solid 1px rgb(245, 241, 241);
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.02);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 17rem;
            @media only screen and (max-width: 600px) {
                height: 12rem;
            }

            p {
                font-size: 1.3rem;
                margin-bottom: 0 !important;
                margin-top: .3rem;
                @media only screen and (max-width: 600px) {
                    font-size: 1rem !important;
                }
            }
    
            h2 {
                font-weight: 500;
                font-size: 2.5rem;
                margin-bottom: 0;
                @media only screen and (max-width: 600px) {
                    font-size: 1.9rem !important;
                }
                @media only screen and (max-width: 450px) {
                    font-size: 1.65rem !important;
                }
                @media only screen and (max-width: 350px) {
                    font-size: 1.5rem !important;
                }
                @media only screen and (max-width: 325px) {
                    font-size: 1.3rem !important;
                }
            }
            h3 {
                font-weight: 800;
                margin-bottom: 0;
                margin-top: .7rem;
                @media only screen and (max-width: 600px) {
                    font-weight: 600 !important;
                    font-size: 2.3rem !important;
                    margin-top: .7rem;
                }
            }
            .one span{
                color: #666;
            }
            .two span{
                color: $mainColor;
            }
            .tree span{
                color: #8ACA2B;
            }
            .four span{
                color: #FF9900;
            }
        }

    }
}