footer {
    margin-top: 5rem;

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        img {
            width: 20rem;
            height: 9rem;
            margin-right: 1rem;
            margin-left: 1rem;
            @media only screen and (max-width: 600px){
                width: 13rem;
                height: 5rem;
            }
        }
    }
    p {
        font-size: 1.5rem;
    }
}