.conseils {
  .centers {
    h1 {
      margin-bottom: 2rem;
    }
    h2 {
      margin-bottom: 1rem;
      margin-top: 1.5rem;
    }
    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
  ul {
    margin-left: 3rem;
    li {
      font-size: 1.6rem;
    }
  }
}